extends layout

block content
  h1= title
  p Welcome to #{title}
  body
  h2="Available now:"
  p Chairs
  img(src="images/chair.png")
  p Sofas
  img(src="images/sofa.png")
  p What do you want today?